<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<ul class="navbar navbar-nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="/">inicio</a>
			</li>
			<li class="nav-item">
				<a routerLink="iniciar_sesion" class="nav-link">Iniciar Sesion</a>
			</li>
			<li class="nav-item">
				<a routerLink="crear_cuenta" class="nav-link">Crear Cuenta</a>
			</li>
			<li class="nav-item">
				<a routerLink="traer_articulos" class="nav-link">Articulos</a>
			</li>
			<li class="nav-item">
				<a routerLink="crear_articulo" class="nav-link">Crear Articulo</a>
			</li>
			
		</ul>
	
</nav>
